html
    head
        title Tweets
        style
            include style.css
    body
        each t in tweets
            div.tweet
                img(class="avatar", src=t.au, alt=t.name) 
                div.byline 
                    span.name 
                        =t.name
                    span.handle @#{t.sn}
                div.text
                    =t.t
                ul.links
                    each l in t.urls
                        li.link
                            a(href=l) 
                                =l
