<html>
    <head>
        <style>
            body {width :900px; margin: 0 auto;}
            ul {list-style-type : none; padding: 0}
            .tweet {padding: 16px}
            .tweet .avatar {float: right; border-radius: 50%}
            .byline {color: #999999; font-size: 12pt;}
            .byline .handle {font-style: italics; margin: 0 0 0 16px}
            .text {margin-top: 16; font-size: 14pt}
            .link a {font-size: 10pt; color: #03a9f4; text-decoration: none}
        </style>
    </head>
    <body>
        <div class="tweet">
            <img class="avatar" src="http://pbs.twimg.com/profile_images/429352425/James_Strachan_normal.png" alt="avatar" /> 
            <div class="byline">
                <span class="name">James Strachan</span> <span class="handle"> @jstrachan</span>
            </div>
            <div class="text">Thanks! Let us know how you get on! https://t.co/SUZrCQKzgz"</div>
            <ul class="links">
                <li class="link"><a href="https://twitter.com/ysb33r/status/743758215339356160">https://twitter.com/ysb33r/status/743758215339356160"</a></li>
            </ul>
        </div>
    </body>
<html>
